language: c
dist: trusty
sudo: required
before_install:
  # C++11
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90
  - ./scripts/install-deps.sh -i
  - git clone https://github.com/CxxTest/cxxtest.git
  - export PATH=$PATH:`pwd`/cxxtest/bin/; export LIBRARY_PATH=$LIBRARY_PATH:`pwd`/cxxtest/
before_script: mkdir ../tmp
script:
  - cat /etc/apt/sources.list
  - ./waf distclean configure build
  - ./waf distclean configure --use-all --use-third-party --use-clang --use-cxxtest --prefix=../tmp/
  - ./waf build build_asan
  - ./waf install
  - cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure build && cd ..
  - ./waf install_asan
  - cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure build_asan && cd ..
git:
    depth: 1
notifications:
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/e23128f14b1634065c82
        on_success: change
        on_failure: always
        on_start: never
    email:
        recipients:
            - jonathan.bendes@gmail.com
        on_success: change
        on_failure: always
        on_start: never
