language: c
dist: trusty
sudo: required
before_install:
  # C++11
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo apt-get install g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90
  - ./scripts/install-deps.sh -i -s
  - sudo apt-get remove julia
  - sudo apt-get remove --purge julia
  - sudo apt-get autoremove
  - tmpdir=$(mktemp -d)
  - pushd $tmpdir
  - sudo apt-get install wget
  - sudo updatedb
  - wget https://julialang-s3.julialang.org/bin/linux/x64/0.5/julia-0.5.2-linux-x86_64.tar.gz
  - tar -xaf julia-0.5.2-linux-x86_64.tar.gz
  - sudo cp -R ./julia-f4c6c9d4bb/* /usr
  - sudo updatedb
  - popd
  - git clone https://github.com/CxxTest/cxxtest.git
  - export PATH=$PATH:`pwd`/cxxtest/bin/; export LIBRARY_PATH=$LIBRARY_PATH:`pwd`/cxxtest/
  - sudo apt-get remove --purge clang
  - sudo apt-get install clang-3.8
  - apt-cache search clang-3.8
before_script: mkdir ../tmp
script:
  - ./waf distclean configure build &&
    ./waf distclean configure --use-all --use-third-party --use-clang --use-cxxtest --prefix=../tmp/ &&
    ./waf build_asan &&
    ./waf distclean configure --use-all --use-third-party --use-clang --use-cxxtest --prefix=../tmp/ &&
    ./waf build build_asan &&
    ./waf install &&
    cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure build && cd .. &&
    ./waf install_asan &&
    cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure --use-clang build_asan && cd ..
git:
    depth: 1
notifications:
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/e23128f14b1634065c82
        on_success: change
        on_failure: always
        on_start: never
    email:
        recipients:
            - jonathan.bendes@gmail.com
        on_success: change
        on_failure: always
        on_start: never
