language: c
dist: bionic
sudo: required
git:
  depth: 1

before_install:
  # C++11
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq --allow-unauthenticated
  - sudo apt-get install -y --allow-unauthenticated g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90
  - sudo apt-get install clang-3.8 fakeroot
  - ./scripts/install-deps.sh -i -s
  - sudo apt-get autoremove
  - sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-3.8 100
  - sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-3.8 100
  - export PATH=$PATH:`pwd`/deps/julia/bin
  - sudo updatedb
  - sudo ldconfig
  - git clone https://github.com/CxxTest/cxxtest.git
  - export PATH=$PATH:`pwd`/cxxtest/bin/; export LIBRARY_PATH=$LIBRARY_PATH:`pwd`/cxxtest/
before_script: mkdir ../tmp
script:
  - ./waf distclean configure build &&
    ./waf distclean configure --use-all --use-third-party --use-clang --use-cxxtest --prefix=../tmp/ &&
    ./waf build &&
    ./waf install &&
    cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure build && cd .. &&
    ./waf distclean configure --use-all --use-third-party --use-clang --use-cxxtest --prefix=../tmp/ &&
    ./waf build_asan &&
    ./waf install_asan &&
    cd examples && source ./env /home/travis/build/ZeroCM/tmp &&
    export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:/home/travis/build/ZeroCM/tmp/lib/pkgconfig &&
    export PATH=$PATH:/home/travis/build/ZeroCM/tmp/bin &&
    ./waf distclean configure --use-clang build_asan && cd .. &&
    rm -rf build/ &&
    scripts/make_debian_package.sh

deploy:
  provider: releases
  api_key:
    secure: "p2GCwPVDgNxXELi820HzC3A/TEzDAlyDL23fj8GV4ARsSGes8LsUaxqhjh5R5QrxaSQeB+SCakWZCK5DNPC4wUhU53zttFWrn3MCMhzeAu+Az816C7dmKeF9K52JLvKbjBOsQNCX4aogcMMfrK46bAqnMLr+1atWsPS/PvmwgH1rI6K+Khrv/gxqoCoZwIq3BcVsh9gbwo/mDT1XEwvfEs+z8vBw9+T+NDsCix877ciDCal1jdou0pLeSz896ZXoHznnLvWJEzyu07SdfXFEYC7yHBvo9cn7UUfUSVUOUN3WLAitqh9MnnLTzyXby22/IlctvDRl1o9R9ns+Zuqz+TMyfKKIk7ez6f4lZlxndTitdR3WH682ES9EX5NZKy2PvvtA7B2z5ksKpH74gjJfWQ9LbXq3xDjiqLS2l0yTsEqgX6B5nzXfbp5rCyKg9RWQpHbwvHu4nxzrimAfN+/TE3MNwtVzmNneFNKmsTv6JJzhSEL+uGGbqFjCr5tk23LmNppk58uvGb8tKn9UNesv909bTuKJBR1slBmJ9W6nEKt7+mxHsCqZk/DkQlgxugqryiMjr/s/s38qT68cAHz8il6zMBn7uOtjgV3yvSFUzFWbF0fo+ZQEN3UaLvgNftG2aSUaSvkLc5KY3OmyNbKuiHyIomuJ89/3TgLZP6YqtaM="
  file: build/zcm.deb
  skip_cleanup: true
  on:
      branch: deb_packaging

notifications:
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/e23128f14b1634065c82
        on_success: change
        on_failure: always
        on_start: never
    email:
        recipients:
            - jonathan.bendes@gmail.com
        on_success: change
        on_failure: always
on_start: never
